APP_ENV=production
APP_DEBUG=false
APP_URL=https://caramella-sweets.onrender.com

DB_CONNECTION=pgsql
DB_HOST=dpg-d7qkiejbc2fs73folkm0-a.frankfurt-postgres.render.com
DB_PORT=5432
DB_DATABASE=caramellasweetsdb
DB_USERNAME=caramellasweetsdb_user
DB_PASSWORD=JEgKiv4j1pkGH4nDZWAB7UAwgfUmZfcE

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

FILESYSTEM_DISK=local
